<% if !pending_friends.blank? %>
  <% for friend in pending_friends %>
    <div class="row">
      <div class="col-md-6">
        <div>
          <%= image_tag 'unknown.jpg', width: 50 %>
          &nbsp;<b><%= friend.name %></b>
          <br>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='pull-right'>
          <%= link_to "", :class => 'btn btn-default' do %>
            <i class='fa fa-check fa-fw'></i>
             Accept
          <% end %>
          <%= link_to "", :class => 'btn btn-default' do %>
            <i class='fa fa-times fa-fw'></i>
             Decline
          <% end %>

        </div>
      </div>
    </div>
    <hr>
  <% end %>
<% else %>
  Nothing to see here
<% end %>