.quotes-table{
  width: 100%
}

th{
  text-align: left;
}

.quote-text-area{
  height: 150px;
  width: 630px;
}

td.labels{
  width: 100px
}

td {
  vertical-align: top;
}

td.submit-button{
  text-align: right;
}